.headerContainer {
  width: 100%;
  background-color: #333;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.logoTitle {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5em;
  color: #fff;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.logoTitle img {
  width: 50px;
  height: auto;
  margin-right: 10px;
}

.myLinkContainer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  align-items: center;
}

.myLink {
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  font-weight: 500;
  color: #fff;
  margin: 0 15px;
  &:hover {
    color: #aaa;
  }
}

.langContainer {
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  gap: 10px;
  display: flex;
  gap: 10px;
  color: white;
  padding: 0;
  margin-left: 1%;
}

.en,
.cn,
.ko {
  font-weight: 500;
  cursor: pointer;
  color: #fff;
  &:hover {
    color: #aaa;
  }
}

/* 중간 크기의 스크린을 위한 반응형 스타일 */
@media (max-width: 1024px) {
  .headerContainer {
    padding: 10px 15px;
  }

  .logoTitle {
    font-size: 1.2em;
  }

  .myLinkContainer {
    .myLink,
    .en,
    .cn,
    .ko {
      font-size: 0.9em;
    }
  }
}

/* 작은 크기의 스크린을 위한 반응형 스타일 */
@media (max-width: 768px) {
  .headerContainer {
    padding: 10px 15px;
  }

  .logoTitle {
    font-size: 1.2em;
  }

  .myLinkContainer {
    width: 60%;
    font-size: 0.6em;
    .myLink,
    .en,
    .cn,
    .ko {
      font-size: 0.6em;
    }
  }
}

/* 가장 작은 크기의 스크린을 위한 반응형 스타일 */
@media (max-width: 480px) {
  .headerContainer {
    padding: 8px;
  }

  .logoTitle {
    font-size: 5px, img {
      width: 30px;
    }
  }
  .myLink,
  .en,
  .cn,
  .ko {
    font-size: 0.7em;
  }
}

a {
  text-decoration: none;
}
