/* 기본 스타일 및 폰트 변경 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", "Noto Sans KR", Arial, sans-serif;
}

/* 메인 페이지 스타일 */
.main-page {
  color: #666;
  background-color: #f7f7f7;
  min-height: 100vh;
  padding-bottom: 50px;
}

/* 섹션별 스타일 조정 */
section {
  padding: 40px;
  background-color: #fff;
  margin: 40px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

/* 이미지 오버레이 텍스트 스타일 */
.image-text-overlay {
  position: relative;
  img.faded-image {
    width: 100%;
    height: auto;
  }
}

/* sitter section 스타일 */
.sitter-section {
  .sitter-content {
    display: flex;
    justify-content: center;
    align-items: center;

    .sitter-text,
    .sitter-image {
      flex: 0 1 30%;
      padding: 20px;
      max-width: 50%;
    }

    .sitter-text {
      text-align: center;
    }

    .sitter-image img {
      width: 100%;
      height: auto;
    }
  }
}

/* vip section 스타일 */
.vip-section {
  display: flex;
  justify-content: center;
  align-items: center;

  .vip-text,
  .vip-image {
    flex: 0 1 30%;
    padding: 20px;
    max-width: 50%;
  }

  .vip-image img {
    width: 100%;
    height: auto;
  }
}

/* 팀 섹션 스타일 */
.team {
  .team-members {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    .team-member {
      width: 18%;
      border: 1px solid #ddd;
      padding: 20px;
      margin: 10px;
      text-align: center;
      border-radius: 4px;

      img {
        max-width: 100%;
        height: auto;
        border-radius: 50%;
        margin-bottom: 10px;
      }

      p {
        margin: 5px 0;
        font-size: 16px;
        color: #333;
      }
    }
  }
}
