/* 기본 스타일 및 폰트 변경 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", "Noto Sans KR", Arial, sans-serif;
}

/* 메인 페이지 스타일 */
.main-page {
  color: #666; // 글씨 색상 변경
  background-color: #f7f7f7; // 밝은 배경색으로 변경
  min-height: 100vh; // 전체 높이를 화면에 맞게 조정
  padding-bottom: 50px; // 푸터에 의한 패딩 조정
}

/* 섹션별 스타일 조정 */
section {
  padding: 40px; // 패딩 증가로 여유로운 레이아웃 조성
  background-color: #fff; // 섹션 배경색 변경
  margin: 40px 0; // 상하 마진 증가
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); // 섹션에 그림자 효과 추가
  border-radius: 8px; // 섹션에 둥근 모서리 추가
}

/* 이미지 오버레이 텍스트 스타일 */
.image-text-overlay {
  position: relative;
  img.faded-image {
    width: 100%;
    height: auto; // 가변 높이로 조정
  }
}

/* sitter section 스타일 */
.sitter-section {
  .sitter-content {
    display: flex;
    justify-content: center;
    align-items: center;

    .sitter-text,
    .sitter-image {
      flex: 0 1 30%; // 너비를 300px로 고정하고 필요에 따라 축소 가능하도록 설정
      padding: 20px;
      max-width: 50%; // 최대 너비를 50%로 제한
    }

    .sitter-text {
      text-align: center;
    }

    .sitter-image img {
      width: 100%;
      height: auto;
    }
  }
}

/* vip section 스타일 */
.vip-section {
  display: flex;
  justify-content: center;
  align-items: center;

  .vip-text,
  .vip-image {
    flex: 0 1 30%; // 너비를 300px로 고정하고 필요에 따라 축소 가능하도록 설정
    padding: 20px;
    max-width: 50%; // 최대 너비를 50%로 제한
  }

  .vip-image img {
    width: 100%;
    height: auto;
  }
}

/* 팀 섹션 스타일 */
.team {
  .team-members {
    display: flex;
    justify-content: space-evenly; // 요소들 간격을 균일하게 조정
    flex-wrap: wrap; // 반응형을 위한 래핑 추가

    .team-member {
      width: 18%; // 너비 조정
      border: 1px solid #ddd; // 테두리 스타일 변경
      padding: 20px; // 패딩 조정
      margin: 10px;
      text-align: center;
      border-radius: 4px; // 둥근 모서리 추가

      img {
        max-width: 100%; // 최대 너비 조정
        height: auto;
        border-radius: 50%; // 이미지를 원형으로 표시
        margin-bottom: 10px; // 이미지 아래쪽 마진 추가
      }

      p {
        margin: 5px 0;
        font-size: 16px; // 글씨 크기 조정
        color: #333; // 글씨 색상 변경
      }
    }
  }
}
