/* 기본 시간대 스타일 */

/* 활성화된 시간대 스타일 */

/* 기본 컨테이너 */
@mixin container {
  width: 100%;
  border: 1px solid #dcdcdc;
  display: flex;
  padding: 10px;
  border-radius: 11px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

/* 기본 버튼 */
@mixin resv-button {
  width: 70px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 10px;
  font-size: 13px;
  background: #fff;
  color: #000;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.react-calendar {
  width: 90%;
  margin: auto;
  border: none;
  // width: unset !important;
}

.react-calendar__navigation {
  margin-bottom: 0;
}

.react-calendar__navigation__label {
  color: black;
  border-radius: 0px;
  box-shadow: none;
}

.react-calendar__navigation__arrow {
  color: black;
  border-radius: 0px;
  box-shadow: none;
}

.react-calendar__month-view__days {
  width: 100%;
  display: flex;
  justify-content: center;

  /* 달력 날짜 */
  .react-calendar__tile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 36px;
  }
  .react-calendar__tile--now {
    background-color: #ffcc00;
  }
  .react-calendar__tile--active {
    background-color: #00abf0;
  }
}

.calenderWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 600px;
  gap: 10px;
}

.calenderContainer1 {
  @include container;
  flex-direction: column;
  justify-content: center;
  h3 {
    height: 40px;
    line-height: 40px;
  }
  hr {
    margin: 10px 0;
  }
}

// 시간 선택 컨테이너
.calenderContainer2 {
  @include container;
  height: 150px;
  flex-direction: column;
  justify-content: center;
  position: relative;
  align-items: center;
  // overflow: hidden;

  .sliderBtnContainer {
    // position: absolute;
    // background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .sliderBtn {
    position: relative;
    border: 1px solid #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    color: black;
    background: #fff;
    opacity: 0.9;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
    transition: transform 0.2s ease;
    z-index: 1;
  }

  .sliderBtn:active {
    transform: scale(0.96);
  }

  .timeList {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    scroll-behavior: smooth;
    left: 24px;
    height: 150px;
    overflow: hidden;
    gap: 10px 20px;
    flex-wrap: wrap;
  }

  .times {
    @include resv-button;
    font-size: 13px;
  }
  .times.active {
    background-color: #c0dae3;
    &:hover {
      transform: scale(0.96);
      transition: "transform 0.5s ease";
      background-color: #ebebebe8;
      cursor: pointer;
    }
  }
  .times.inactive {
    background-color: #fff;
    &:hover {
      transform: scale(0.96);
      transition: "transform 0.5s ease";
      background-color: #ebebeb;
      cursor: pointer;
    }
  }
  .times:disabled {
    background-color: #ebebeb;
    cursor: default;
  }
}

// 예약 옵션 컨테이너
.calenderContainer3 {
  @include container;
  flex-direction: row;
  justify-content: space-around;

  // 동물 종류 선택
  .animalTypeContainer {
    width: 30%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    span {
      margin-right: 10px;
      font-weight: 600;
    }
    .animalTypeSelect {
      width: 80px;
      height: 40px;
      border-radius: 10px;
      font-size: 15px;
    }
  }
  // 맡길 동물 숫자 선택
  .animalNumContainer {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    span {
      font-weight: 600;
    }
    .animalNumBtn {
      @include resv-button;
      width: 70px;
      height: 40px;
      // border: none;
      // border-radius: 10px;
      // background-color: #fff;
      // color: #000;
      // font-size: 15px;
      // transition: transform 0.2s ease;
      // box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
      &:hover {
        background-color: #ebebeb;
        cursor: pointer;
      }
    }
    .selected {
      background-color: #c0dae3;
    }
  }
}

// 추가사항 작성 컨테이너
.calenderContainer4 {
  @include container;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  h3 {
    height: 40px;
    line-height: 40px;
  }
  hr {
    margin: 10px 0;
  }
}

/* 슬라이더 css*/
// .wrapper {
//   position: relative;
//   border: 1px solid black;
//   background-image: url("/public/marguerite-729510_1280.jpg");
//   background-repeat: no-repeat;
//   background-size: cover;
//   background-position: center;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   width: 490px;
//   height: 100px;
//   /* overflow: hidden; */
// }

// 예약 내용 확인 컨테이너
.calenderContainer5 {
  @include container;
  height: 300px;
  flex-direction: column;
  justify-content: center;
  .reservationDetail {
    display: flex;
    flex-direction: column;
    padding: 10px;
    h3 {
      height: 40px;
      line-height: 40px;
    }
    hr {
      margin: 10px 0;
    }
    .optionDetail {
      display: inline-block;
      width: 200px;
      padding: 2px 0px;
      font-size: 16px;
      font-weight: 600;
    }
  }
  .reservationBtnContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    .reservationBtn {
      background-color: white;
      border: 1px solid #dcdcdc;
      color: #000;
      border-radius: 5px;
      font-size: 15px;
      font-weight: bold;
      width: 160px;
      height: 50px;
      box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
      &:hover {
        cursor: pointer;
        background-color: #ebebeb;
      }
    }
  }
}
