* {
  margin: 0;
}

.myPageWrapper {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 71vh;
  gap: 20px;
}

.myPageContainer1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 550px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.myPageContainer2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 600px;
  height: 550px;
}

.sectionsContainer {
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.bordertopLeft {
  border-top-left-radius: 13px;
}

.borderTopRight {
  border-top-right-radius: 13px;
}

.borderBottomLeft {
  border-bottom-left-radius: 13px;
}

.borderBottomRight {
  border-bottom-right-radius: 13px;
}

.sections {
  display: flex;
}

.imageContainer {
  display: flex;
  flex-direction: column;
  width: 365px;
  height: 213px;
  align-items: center;
  padding: 10px 0;
  gap: 15px;
}

.myPage_profile_image {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: relative;
  z-index: 1;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.myPage_image_input {
  position: absolute;
  border-radius: 50%;
  opacity: 0;
  cursor: pointer;
  width: 150px;
  height: 150px;
  z-index: 2;
}

.image_button_container {
  display: flex;
  gap: 5px;
}

.image_button_container button {
  background-color: white;
  border: 1px solid #dcdcdc;
  color: #000;
  border-radius: 5px;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  width: 87px;
  height: 26px;
}

.mypageTitle {
  border: 1px solid #dcdcdc;
  display: flex;
  font-size: 14px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 40px;
}

.textAreaTitle {
  border: 1px solid #dcdcdc;
  display: flex;
  font-size: 14px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 150px;
}

.textAreaDiv {
  border: 1px solid #dcdcdc;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 260px;
  height: 150px;
}

.textAreaContainer {
  width: 245px;
  height: 136px;
  border: none;
}

.inputDiv {
  border: 1px solid #dcdcdc;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 260px;
  height: 40px;
}

.inputDiv input {
  width: 245px;
  height: 28px;
  border: none;
}

.myPageBtnContainer {
  width: 100%;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.myPageUpdateBtn {
  background-color: white;
  border: 1px solid #dcdcdc;
  color: #000;
  border-radius: 5px;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  width: 87px;
  height: 26px;
}

.reservationTable1,
.reservationTable2 {
  display: flex;
  justify-content: center;
  border: 1px solid #dcdcdc;
  width: 100%;
  height: 280px;
  padding: 5px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.table {
  display: flex;
  flex-direction: column;
  width: 590px;
  height: 79%;
  border: 1px solid #bdc3c7;
}

.row {
  display: flex;
  width: 100%;
  align-items: center;
}

.tableHeader {
  background-color: #6c63ff;
  color: black;
  padding: 3px;
  text-align: center;
}

.cell {
  padding: 4px;
  text-align: center;
  border-bottom: 1px solid #ddd;
  flex: 1;
  min-width: 0;
}

// .cell:last-child {
//   flex: 0 0 auto; /* Allow button column to grow */
// }

.row:hover {
  background-color: #f5f5f5;
  transform: scale(1.02);
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
}

.myPagedeleteBtn button {
  background-color: #db4455;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 54px;
  height: 23px;
  color: #fff;
  border: none;
  border-radius: 5px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  cursor: pointer;
}

.myPageReviewBtn button {
  background-color: #4b89dc;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 61px;
  height: 23px;
  color: #fff;
  border: none;
  border-radius: 5px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  cursor: pointer;
}

/* review modal */
.reviewModal {
  position: fixed;
  top: 0;
  bottom: -64px;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(77, 77, 77, 0.7);
  transition: all 0.4s;
  z-index: 4;
}

.reviewModalContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  background: #fff;
  width: 600px;
  height: 500px;
  padding: 5px;
  border-radius: 4px;
}

.addReviewContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reviewCloseBtn {
  border: 1px solid #dcdcdc;
  background: white;
  position: relative;
  right: -297px;
  top: -16px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  width: 30px;
  align-items: center;
  height: 30px;
  font-size: 30px;
  font-weight: bold;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  cursor: pointer;
}

.reviewCloseBtn:active {
  transform: scale(0.96);
}

.reviewtitle {
  font-size: 19px;
  font-weight: bold;
  line-height: 40px;
}

.reviewSubtitle {
  font-size: 17px;
  font-weight: bold;
  line-height: 25px;
}

.reviewtextArea {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.reviewtextArea textarea {
  width: 520px;
  height: 160px;
}

.reviewAddImage {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
}

.reviewlabel {
  position: absolute;
  border: 1px dashed black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 520px;
  height: 60px;
  gap: 10px;
  cursor: pointer;
}

// .formControl {
//   display: none;
//   visibility: hidden;
// }

.bxs-camera::before {
  font-size: 25px;
}

.reviewImageTitle {
  font-size: 19px;
  font-weight: bold;
}

.reviewInput {
  display: none;
  visibility: hidden;
}

.reviewImageContainer {
  width: 520px;
  height: 110px;
}

.reviewImageContainer img {
  display: flex;
  align-items: center;
  width: 110px;
  height: 110px;
}

.reviewBtn {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 5px;
  gap: 10px;
}

.reviewBtn button {
  border: 1px solid black;
  background: #fff;
  color: #000;
  border-radius: 0px;
  box-shadow: none;
  width: 86px;
  height: 30px;
}

// 보기 modal scss
.reservationModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); // 배경 흐림 효과
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; // 모달이 최상단에 있도록 설정
}

.reservationModalContent {
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  max-width: 500px;
  width: 90%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); // 그림자 효과
  position: relative; // 닫기 버튼을 위치시킬 수 있도록
}

.reservationModalClose {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 1.5em;
  color: #333;
}

h2 {
  margin-top: 0;
  text-align: center;
}
