* {
  margin: 0;
}

.reservationWrapper {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  // height: 1000px;
  gap: 5px;
  padding: 10px;
}

.reservationSection1,
.reservationSection2 {
  // border: 1px solid red;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  width: 600px;
  gap: 10px;
}

.trainerInfoContainer1 {
  border: 1px solid #dcdcdc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 5px;
  height: 370px;
  border-radius: 11px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.trainerInfoContainer2 {
  border: 1px solid #dcdcdc;
  display: flex;
  flex-direction: column;
  padding: 5px;
  gap: 10px;
  padding: 5px;
  height: 250px;
  border-radius: 11px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.trainerInfoContainer3 {
  border: 1px solid #dcdcdc;
  display: flex;
  flex-direction: column;
  padding: 5px;
  gap: 10px;
  padding: 5px;
  border-radius: 11px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.trainerInfoContainer4 {
  border: 1px solid #dcdcdc;
  display: flex;
  flex-direction: column;
  padding: 5px;
  gap: 10px;
  padding: 5px;
  height: 110px;
  border-radius: 11px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.trainerInfoContainer5 {
  position: relative;
  // border: 1px solid #dcdcdc;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 11px;
}

.trainerInfoContainer6 {
  border: 1px solid #dcdcdc;
  display: flex;
  flex-direction: column;
  padding: 5px;
  gap: 10px;
  padding: 5px;
  height: 90px;
  border-radius: 11px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.trainerInfoContainer7 {
  border: 1px solid #dcdcdc;
  display: flex;
  flex-direction: column;
  padding: 5px;
  gap: 10px;
  padding: 5px;
  height: 90px;
  border-radius: 11px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.trainerInfoContainer8 {
  border: 1px solid #dcdcdc;
  display: flex;
  flex-direction: column;
  padding: 5px;
  gap: 10px;
  padding: 5px;
  height: 150px;
  border-radius: 11px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.trainerInfoContainer9 {
  display: flex;
  justify-content: center;
  gap: 5px;
}
.reservationBtn {
  background-color: white;
  border: 1px solid #dcdcdc;
  color: #000;
  border-radius: 5px;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  width: 87px;
  height: 26px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.selectedReservation {
  border: 1px solid black;
  height: 150;
}

.priceTitle {
  border-bottom: 1px solid #ebebeb;
  display: flex;
  align-items: center;
  height: 57px;
  font-size: 18px;
  font-weight: bold;
}

.detailPriceWrapper,
.detailPriceContainer {
  display: flex;
}

.detailPriceWrapper {
  justify-content: space-between;
  padding: 5px;
}

.detailPriceContainer {
  gap: 10px;
}

.sixtyMins {
  width: 42px;
  height: 22px;
  background-color: #fafafa;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sixtyMins span {
  font-size: 11px;
  font-weight: 600;
  color: #999999;
}

.reviewContainer {
  width: 100%;
  height: 440px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.reviewListContainer {
  border: 1px solid #dcdcdc;
  border-radius: 13px;
  padding: 5px;
}

.reviewSection {
  display: flex;
  align-items: center;
  height: 47px;
}

.info1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info1Img {
  border-radius: 50%;
  border: 0.2rem solid #6c63ff;
  width: 35px;
  height: 35px;
}

.info2Text {
  font-size: 12px;
  font-weight: bold;
}

.hr {
  border: 0.5px solid lightgray;
  display: flex;
  transform: translate(2%, -50%);
  width: 96%;
}

.content {
  padding: 0px 5px 0px 5px;
  font-size: 12px;
}
.containers {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

.trainerTitle {
  display: flex;
  gap: 15px;
}

.trainerTitle span {
  font-size: 18px;
  font-weight: bold;
}

.textField {
  padding-left: 30px;
}

.imageContainer {
  display: flex;
  flex-direction: column;
  width: 365px;
  height: 195px;
  align-items: center;
  padding: 10px 0;
  gap: 15px;
}

.reservation_profile_image {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: relative;
  z-index: 1;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.selfIntroductionText {
  text-align: justify;
}

.front-page .btn-box {
  margin-top: 1.2rem;
}

.reservationBtn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 9.5rem;
  height: 3rem;
  background: #00abf0;
  border: 0.125rem solid #00abf0;
  border-radius: 0.3rem;
  font-size: 1rem;
  color: #fff;
  font-weight: 500;
  margin: 0 1rem;
  transition: 0.5s;
  text-decoration: none;
}

.reservationBtn:hover {
  background: transparent;
  color: #00abf0;
}

.areaIcon {
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bx-left-arrow-alt::before {
  font-size: 31px;
}

.chattingName {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.wrapper {
  background: linear-gradient(90deg, #7f00ff, #e100ff);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper a {
  display: inline-block;
  text-decoration: none;
  background-color: #fff;
  border-radius: 15px;
  text-transform: uppercase;
  color: #585858;
}

.modal {
  position: fixed;
  top: 0;
  bottom: -64px;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(77, 77, 77, 0.7);
  transition: all 0.4s;
  z-index: 4;
}

.modalContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  background: #fff;
  width: 700px;
  padding: 12px;
  border-radius: 4px;
}

.modalContent {
  display: flex;
}

a {
  font-size: 21px;
  font-weight: 600;
}

.modalclose {
  position: relative;
  top: 0;
  left: 635px;
  color: #585858;
  text-decoration: none;
  font-size: 36px;
}

.modals {
  border: 1px solid black;
  width: 100%;
  height: 591px;
}

.searchContainer,
.search {
  display: flex;
}

.searchContainer {
  border: 1px solid black;
  justify-content: space-between;
  height: 45px;
  padding: 3px;
}

.search {
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  width: 222px;
}

.search input {
  width: 180px;
  height: 25px;
}

.searchInputIcon1 {
  width: 287px;
}

.searchInputIcon1 input {
  width: 250px;
  height: 25px;
}

.searchTitle {
  // border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.searchDiv {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 26px;
  height: 26px;
}

.advertisementContainer {
  border: 1px solid black;
  height: 80px;
}

.chattingHistoryWrapper {
  // border: 1px solid red;
  height: 465px;
  padding: 5px;
}

.chattingContainer {
  // border: 1px solid black;
  display: flex;
  gap: 10px;
  padding: 2px;
}

.chattingCustomerImage {
  border-radius: 30%;
  width: 50px;
  height: 50px;
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.chattingInformation {
  display: flex;
  flex-direction: column;
}

.customerTitle {
  font-weight: bold;
}

.groupChattingContainer1 {
  display: flex;
  flex-direction: column;
  // border: 1px solid red;
  height: 500px;
}

.chatterWrapper {
  // border: 1px solid black;
  display: flex;
  gap: 5px;
  padding: 2px;
}

.chatterImageContainer {
  // border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chatterImage {
  border-radius: 30%;
  width: 30px;
  height: 30px;
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.chatterInformation {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.chatterName {
  font-size: 14px;
}

.chatterText {
  border: 1px solid black;
  background: #585858;
  color: #fff;
  display: flex;
  align-items: center;
  border-radius: 7px;
  height: 20px;
  font-size: 12px;
  padding: 5px;
}

.chattingInputContainer2 {
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 45px;
  padding: 3px;
}

.findImageContainer {
  position: relative;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 35px;
  cursor: pointer;
}

.label {
  position: absolute;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 35px;
  cursor: pointer;
}

.bx-plus::before {
  font-size: 25px;
}

.formControl {
  display: none;
  visibility: hidden;
}

.preview {
  background-color: #f8f8f8;
  display: flex;
  padding: 5px;
  gap: 5px;
}

.chattingImage {
  width: 50px;
  height: 50px;
}

.fileName {
  font-size: 12px;
}

.sendChattingTextContainer {
  border: 1px solid black;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 3px;
  width: 263px;
  height: 100%;
}

.sendChattingTextContainer input {
  border: none;
  width: 203px;
  height: 34px;
}

.sendChattingTextContainer button {
  // border: 1px solid black;
  background: #fff;
  color: #000;
  height: 28px;
  box-shadow: none;
  border-radius: 0%;
  width: 52px;
  height: 34px;
}

.emojiBtnContainer {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 37px;
  width: 37px;
}

.emojiBtn {
  background: white;
  color: black;
}

.modalSection2 {
  position: relative;
}

.imageModal {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(77, 77, 77, 0.7);
  transition: all 0.4s;
  z-index: 9;
}

.imageModalContent {
  position: relative;
  display: flex;
  flex-direction: column;
  background: #fff;
  width: 312px;
  height: 390px;
  // padding: 5px;
  border-radius: 4px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.imageModalclose {
  border: 1px solid #dcdcdc;
  background: white;
  position: relative;
  right: -283px;
  top: 4px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  width: 25px;
  align-items: center;
  height: 25px;
  font-size: 28px;
  font-weight: bold;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  cursor: pointer;
}

.imageModalclose:active {
  transform: scale(0.96);
}

.modalCloseBtn {
  border: 1px solid #dcdcdc;
  background: white;
  position: relative;
  right: -716px;
  top: -305px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  width: 30px;
  align-items: center;
  height: 30px;
  font-size: 30px;
  font-weight: bold;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  cursor: pointer;
  z-index: 12;
}

.modalCloseBtn:active {
  transform: scale(0.96);
}

.imageModalTitle {
  display: flex;
  align-items: center;
  font-size: 18px;
  height: 31px;
  padding: 11px;
}

.imageModalBody {
  border-bottom: 1px solid #d3d5d7;
  height: 273px;
}

.imageModalContainer {
  padding: 5px;
}

.imageModalBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
}

.imageModalBtn button {
  background: white;
  color: #000;
  box-shadow: none;
  border-radius: 0px;
  width: 100%;
  height: 100%;
}
